#main{
  margin-left: 100px;
}

#headers{
  margin-top: 1rem;
  margin-left: 40px;
  display: flex;

  header *{
    font-size: 25px;
    margin: 20px;
  }
  header{
    box-shadow: 0 3px 6px rgba(var(--text-color), .16), 0 3px 6px rgba(var(--text-color), .23);
    background-color: rgba(var(--bg-color), 1);
    margin-left: 2rem;
    justify-content: space-around;
    padding-bottom: 0;
    &:hover {
            box-shadow: 0 10px 20px rgba(var(--text-color), .19), 0 6px 6px rgba(var(--text-color), .23);
        }
  }
  header div{
    display: flex;
    // flex-direction: column;
    align-items: center;
    margin: 12px;
  }
  header:last-of-type{
    flex-grow: 1;
    display: flex;
    margin: 1.5rem;
  }
  header:first-of-type{
    // flex-grow: 1;
    // display: flex;
    margin: 1.5rem;

  }
}
